body{
  margin : 5%;
  text-align: center;
  position: relative;
  font-family: 'Baloo Paaji 2', cursive;
}
h1{
  font-family:'Sacramento', cursive;
  margin: 0 auto;
}

hr{
  width: 500px;
  height: 3px;
  background-color: #ebe6e6;
  border-style: none;
  margin: 150px auto;
  position: relative;
}

.intro{
  position: relative;
  top: 100px;
}
.tree1{
  width: 70px;
  height: 70px;
  position: absolute;
  top:10px;
  right:250px;
}

.tree2{
  width: 70px;
  height: 70px;
  position: absolute;
  left:250px;
  top: 120px;
}
.cup_of_tea{
  width: 300px;
  height: 300px;
  position: relative;
  top: 200px;
}
.character{

  width: 150px;
  height: 150px;
}
.presentation{
  top:200px;
  width: 500px;
  margin: 0 auto 0 auto;
  position: relative;
}

.biography1{
  top:200px;
  height: 500px;
  width: 500px;
  margin: 0 auto 300px auto;
  position: relative;
}
.biography2{
  height: 400px;
  width: 500px;
  margin: 0 auto 0 auto;
  position: relative;

}
.biography3{

  height: 400px;
  width: 500px;
  margin: 0 auto 250px auto;
  position: relative;

}
.biography4{

  height: 500px;
  width: 500px;
  margin: 0 auto 250px auto;
  position: relative;

}
.biography5{

  height: 500px;
  width: 500px;
  margin: 0 auto 0 auto;
  position: relative;

}
.contact{
  width: 500px;
  margin: 0 auto 200px auto;
  position: relative;
}
.mail{
  position: relative;
  width:70px;
  height:70px;
  margin: auto;
}
